
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

project.lock.json
project.fragment.lock.json
artifacts/

.idea/
*.swp
*~

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

appsettings.*.local.json
secrets.json
